<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asystent WAT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrap">
    <div class="wrap__maps">
      <div  id="map" 
            class="map" 
            style="height: 100%;" 
            leaflet 
            [leafletOptions]="options"
            (leafletMapReady)="onMapReady($event)">
      </div>
    </div>
  </div>
</ion-content>
<ion-button class="button" slot="start" size="large" (click)="navigate()">Nawiguj</ion-button>
<ion-button class="button" slot="end" size="large" (click)="informate()">Informuj</ion-button>